.info-container {
  width: 100%;
  background-color: white;
  color: black;
  margin-bottom: 99vh;
  height: 300px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .info-container {
    height: 200px;
    width: 100px;
  }

  .info > h1 {
    text-align: center;
    font-size: 23px;
  }
}
