.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.cover-container >h1 {
    color: white;
    font-size: 100px;
}

.cover-container > p {
    margin: 9px;
    color: azure;
    font-size: 40;
    ;
}
