.about-container {
    display: flex;
    background-color: rgb(203, 255, 255);
    color: black;
    height: 70vh;
    padding: 100px 100px 0;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0 100px 0 100px;
}

.about-desc > h3 {
    margin-bottom: 30px;
    font-size: 28px;
}

.about-desc > p {
    line-height: 1.5;
}

.about-img {
    display: flex;
    align-self: center;
    width: 50%;
    overflow: hidden;
}