.carousel-container {
  display: flex;
  vertical-align: center;
  align-items: center;
  background-color: black;
  padding: 30px 0 30px 0;
}

.carousel-title {
  color: white;
  width: 40%;
  text-align: center;
  font-size: 30px;
  padding: 0 100px 0 100px;
}

.slide-container {
  height: 80%;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

/* .slider-container > img {
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.slide-container:hover > img {
  transform: scale(1.2);
  opacity: 0.9;
} */


/* Este evento marca las propiedades que debe de tener la imagine de forma inicial */
.slide-container>img {
  transform: scale(1);
  opacity: 0.9;
  transition: all 0.5s;
}


/* Este evento marca la configuracion que debe de tener la imagen cuando se le pasa la imagen por arriba */
.slide-container:hover>img {
  transform: scale(1.2);
  opacity: 0.9;
  transition: all 0.5s;
}

.slide-desc {
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  padding-left: 30px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}

.slide-desc > span {
  color: rgb(215, 247, 247);
  display: block;
  font-size: 22px;
  padding: 20px 0 20px 10px;
}

.BrainhubCarousel__arrows {
  background-color: azure;
  border-radius: 50%;
  margin: 20px;
}

.BrainhubCarousel__arrows > span {
  border-color: #030303;
}

.BrainhubCarousel__arrows:hover {
  background-color: white !important;
}

.BrainhubCarousel__arrows:hover > span {
  border-color: #030303 !important;
}

@media onlyscreen and (max-width: 950px) {
  .carousel-container {
    flex-direction: column;
  }

  .carousel-title {
    text-align: center;
    padding: 50px 0 50px 0;  
  }

  .slide-container {
    width: 100%;
  }
}